body {background-color:#dae7d6;
     animation-name:example;
     animation-duration:4s;
     animation-iteration-count:infinite;}
@keyframes example { from{background-color:#007720;} to{background-color:#ffa500;}}